Repository CowDogMoo/warpgate: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-vet, go-licenses, generate-docs, go-copyright

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-unit-tests:
  name: Go unit tests
  language: script
  entry: .hooks/run-go-tests.sh coverage

go-vet:
  name: Run go vet
  language: script
  entry: .hooks/go-vet.sh

go-licenses:
  name: Run go-licenses
  language: script
  entry: .hooks/go-licenses.sh check_forbidden

generate-docs:
  name: Update package docs
  language: script
  entry: .hooks/generate-docs.sh
  require_serial: true

go-copyright:
  name: Ensure all go files have the copyright header
  language: script
  entry: .hooks/go-copyright.sh

Refactored Docker build workflow and removed `.tool-versions` file
  .github/workflows/dockerfile-image-builder.yaml
  .tool-versions
Due: none

Update go mods; fix docker-bake action
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/semgrep.yaml
  go.mod
  go.sum
Due: go-no-replacement

Fixed gitignore and hopefully image-builder action
  .github/workflows/dockerfile-image-builder.yaml
  .gitignore
Due: none

Fixed bake settings
  .github/workflows/dockerfile-image-builder.yaml
  dockerfiles/atomic-red/Dockerfile
  dockerfiles/atomic-red/docker-bake.hcl
Due: none

Refactored Docker build workflow and removed `.tool-versions` file (#1264)
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/semgrep.yaml
  .gitignore
  .tool-versions
  dockerfiles/atomic-red/Dockerfile
  dockerfiles/atomic-red/docker-bake.hcl
  go.mod
  go.sum
Due: go-no-replacement

Switch to GitHub App Token for Authentication
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  docs/act.md
Due: none

Fixed permissions issue for image builder action
  .github/workflows/dockerfile-image-builder.yaml
Due: none

Removed non-working components of dockerfile image builder
  .github/workflows/dockerfile-image-builder.yaml
Due: none

Switch to GitHub App Token for Authentication (#1265)
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  docs/act.md
Due: none

Refactored GitHub Actions workflows for image building
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/warpgate-image-builder.yaml
Due: none

Refactored Warpgate Image Builder authentication and cleanup
  .github/workflows/warpgate-image-builder.yaml
  README.md
Due: none

feat: Add support for no-push builds in imagebuilder
  cmd/imagebuilder.go
  go.mod
  go.sum
  pkg/docker/dockerClient.go
Due: go-no-replacement, go-unit-tests, go-vet, go-licenses, generate-docs, go-copyright

fix: Linting, pc hook, remove old file
  .hooks/generate-docs.sh
  blueprints/windows/scripts/choco.ps1
  cmd/blueprint.go
Due: go-unit-tests, go-vet, go-licenses, generate-docs, go-copyright

fix: Update old, vulnerable go modules
  go.mod
  go.sum
Due: go-no-replacement

fix: Broken nancy action
  .github/workflows/nancy.yaml
Due: none

feat: Add support for no-push builds in imagebuilder (#1430)
  .github/workflows/nancy.yaml
  .hooks/generate-docs.sh
  blueprints/windows/scripts/choco.ps1
  cmd/blueprint.go
  cmd/imagebuilder.go
  go.mod
  go.sum
  pkg/docker/dockerClient.go
Due: go-no-replacement, go-unit-tests, go-vet, go-licenses, generate-docs, go-copyright

feat: Improve image builder UX and update instance configs
  blueprints/atomic-red-team/config.yaml
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
  blueprints/attack-box/config.yaml
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  blueprints/sliver/config.yaml
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/test/config.yaml
  blueprints/ttpforge/config.yaml
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  blueprints/windows/config.yaml
  cmd/imagebuilder.go
  docs/dev.md
  go.sum
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
Due: go-unit-tests, go-vet, go-licenses, generate-docs, go-copyright

feat: Improve image builder UX and update instance configs (#1431)
  blueprints/atomic-red-team/config.yaml
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
  blueprints/attack-box/config.yaml
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  blueprints/sliver/config.yaml
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/test/config.yaml
  blueprints/ttpforge/config.yaml
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  blueprints/windows/config.yaml
  cmd/imagebuilder.go
  docs/dev.md
  go.sum
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
Due: go-unit-tests, go-vet, go-licenses, generate-docs, go-copyright

fix: Updated runzero explorer blueprint to use bulwark collection
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/scripts/provision.sh
Due: none

chore(deps): update github.com/containers/image/v5 digest to 4279b17
  go.mod
Due: go-no-replacement

chore(deps): update google.golang.org/genproto/googleapis/api digest to 207652e
  go.mod
Due: go-no-replacement

chore(deps): update google.golang.org/genproto/googleapis/rpc digest to 207652e
  go.mod
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v41.0.20
  .github/workflows/renovate.yaml
Due: none

chore(deps): update module github.com/oklog/ulid to v2
  go.mod
Due: go-no-replacement

chore(deps): update module go.mongodb.org/mongo-driver to v2
  go.mod
Due: go-no-replacement

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v5
  .pre-commit-config.yaml
Due: none

feat: Add renovate tasks
  Taskfile.yaml
Due: none

chore(deps): update github.com/containers/image/v5 digest to 4279b17 (#1439)
  go.mod
Due: go-no-replacement

chore(deps): update module github.com/oklog/ulid to v2 (#1443)
  go.mod
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v41.0.20 (#1442)
  .github/workflows/renovate.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v5 (#1445)
  .pre-commit-config.yaml
Due: none

chore(deps): update google.golang.org/genproto/googleapis/api digest to 207652e (#1440)
  go.mod
Due: go-no-replacement

chore(deps): update module go.mongodb.org/mongo-driver to v2 (#1444)
  go.mod
Due: go-no-replacement

feat: Refactor Renovate config with scoped automerge rules and cleanup
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
Due: none

fix: Squashed bugs in renovate config
  .github/renovate.json5
Due: none

fix: Runzero Explorer now properly using bulwark collection
  .github/workflows/warpgate-image-builder.yaml
Due: none

feat: Improved README
  README.md
Due: none

feat: Add manual image pushing guide for Docker/GHCR workflows
  README.md
  docs/image-pushing.md
Due: none

docs: improve image pushing guide and optimize cleanup in provisioner
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/scripts/provision.sh
  docs/image-pushing.md
Due: none

feat: Added flags to selectively disable AMI and container image builds
  cmd/imagebuilder.go
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/packer/README.md
  pkg/packer/command.go
  pkg/packer/packer.go
Due: go-unit-tests, go-vet, go-licenses, generate-docs, go-copyright

Path conditions:
  go-no-replacement: any of: go.mod
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  go-licenses: any of: \.go$
  generate-docs: any of: \.go$
  go-copyright: any of: \.go$
